<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row style="margin-top: 150px;">
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div>  <ion-button (click)="scan()" shape="round" fill="outline">Scan</ion-button></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
